.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background-color: gray;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0.5rem;
  display: flex;
  background-color: white;
  padding: 0.25rem;
}

.item:hover {
  background-color: #cbeafcd2;
}

.itemImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-right: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  flex: 1 1 70%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.info .itemName {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.info .numOfProducts {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.info .itemName:hover {
  text-decoration: underline;
}

.info .itemPrice {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #f24443;
}

.sellerInfo {
  flex: 1 1 30%;
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 480px) {
}
